
body {
  background-color:   	#0000FF;
  color: #FFFFFF;
}
h1 {
  color: #000000;
}
h3 {
  color: #000000;
}
em{
	font-weight: bold;
}
p{
	font-family: "Times New Roman", Times, serif;
}
a:link { color: #ffffe6; 
text-decoration: none
}
a:visited { color: 	#FF0000; 
text-decoration: none
}
a:hover { color:	#FF0000;
 text-decoration: underline
 }
p::first-letter {
  font-size: xx-large;
}