#whole{
    border: 0.5px solid gray;
    width: 1000px;
    height: 850px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
#header{
  background-image: url(backk.jpg);
  height:140px;
  width:100%;
  margin:0 px;
  border:0 px;
  text-align:center;

}
#content{
	 background-color: #f1f1f1;
	  padding: 20px;
	 
	  
}
h1{
	padding:50px;
	color: #f1f1f1;
}
fieldset{
    border: 5px solid black;
    margin-top: 10px;
}

label{
    margin-top: 8px;
}

.inputTxt{
    margin-bottom: 8px;
}

.validate {
    right: 5px;
    position: fixed;
    bottom: 0;
}
